ul{
    list-style-type:none;
}

li{
    float: left;
}

#id-2{
    padding: 10px;
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    color: #373737;
    font-family: Roboto;
    font-size: 39px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#id1{
background: linear-gradient(180deg, #2B7AC1 0%, #3AB26F 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Roboto;
font-size: 39px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

#id3{
display: flex;
height: 49px;
width: 96px;
padding: 10px;
justify-content: space-between;
align-items: center;
}

#id3{
color: #373737;
font-family: Roboto;
font-size: 25px;
font-style: normal;
font-weight: 300;
line-height: normal;
}

#top-nav-right{
    display: flex;
    width: 245px;
    height: 49px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    text-decoration:none;
}

#id4{
color: #373737;
font-family: Roboto;
font-size: 22px;
font-style: normal;
font-weight: 300;
line-height: normal;
}
